<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Module 1 Coding Assignment</title>
  </head>
  <body>
    <h1>Check My Lunch</h1>
    <div ng-controller="LunchCheckController">
      <input type="text" ng-style="myObjectTextBox" ng-model="listFood">
      <button ng-click="checkList()">Check If Too Much</button>
      <div ng-style="myObject"> {{resultChecking}}
      </div>
      <p> {{itemEmpty}}
    </div>
  </body>
</html>
